.App {
	height: var(--window-height);
	min-width: var(--window-width);
	display: flex;
	flex-direction: row;
	overflow: hidden;

	div.main {
		height: 100vh;
		width: 100vw;
		position: absolute;
		left: var(--sidebar-width);

		transition: left 0.3s ease;
	}
}
