* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #222;
	overflow: hidden;
	font-family: "Sen", sans-serif;

	--window-width: 700px;
	--window-height: 600px;

	width: var(--window-width);
	height: var(--window-height);
}

button {
	outline: none;
}
